<div class="row">
	<aside>
  <div class="panel panel-info">
	<div class="panel-heading">
		<h1 class="text-center">
		  <%= @opening.name %>
		</h1>
	</div>
	<div class="panel-body">
		<aside class=" col-xs-6">
			<%  if @opening.image_url %>
		  <%= @opening.image_url  %>
		  <%  else %>
		  <img src="/images/no-image.png" class="img-responsive">
		  <%  end %>
		</aside>
		<div class="col-xs-6">
		  <ul class="list-group">
		    <li class="list-group-item list-group-item-info">戦法説明</li>
		    <li class="list-group-item">
		    	<%=  @opening.description %>
		    </li>
		     <li class="list-group-item list-group-item-info">よく使う囲い</li>
		    <li class="list-group-item">
		      <%  @opening.relational_castlings.each do |relational_castling| %>
		      <%=  relational_castling.name %>
		      <%  end %>
		    </li>
		  </ul>
		</div>  
	</div>
</div>
</div>
<div>
<h3>関連棋譜一覧</h3>

<%= render "game_records/game_records", game_records: @game_records  %>
 </div>
</div>