<div class="row">
  <div class="panel panel-danger">
	<div class="panel-heading">
	  <h1 class="text-center">
		<%= @game_record.title  %>
		</h1>
	</div>
	<div class="panel-body">
		<aside class="col-xs-6">
		 <%  if @game_record.image_url %>
		  <%= @game_record.image_url  %>
		  <%  else %>
		  <img src="/images/no-image.png" class="img-responsive">
		  <%  end %>
		</aside>
		<div class="col-xs-6">
		<table class="table">
		  <tbody>
		    <tr>
		      <th>対局日</th>
		      <td><%= @game_record.played_at %></td>
		    </tr>
		    <tr>
		      <th>戦型</th>
		      <% @game_record.shogi_types.each do |shogi_type| %>
		      <td> <%=  shogi_type.name %></td>
		      <%  end %>
		    </tr>
		    <tr>
		      <th>戦法</th>
		      <% @game_record.relational_openings_about_game_records.each do |relational_openings_about_game_record| %>
		      <td><%= relational_openings_about_game_record.name  %></td>
		      <%  end %>
		    </tr>
		    <tr>
		      <th>囲い</th>
		       <% @game_record.relational_castilngs_about_game_records.each do |relational_castilngs_about_game_record| %>
		      <td><%= relational_castilngs_about_game_record.name  %></td>
		      <% end  %>
		    </tr>
		    <tr>
		      <th>棋譜参考url</th>
		      <td><%= @game_record.url  %></td>
		    </tr>
		  </tbody>
		  
		</table>
		 <%=  render "user_game_records/like_button", game_record: @game_record %>
		</div>
	</div>
	
</div>
<div class="container">
<divclass="col-xs-offset-1 col-xs-5">
	<h3 class>コメント一覧</h3>
<ul class="media-list">
		<%  @game_record_comments.each do |game_record_comment| %>
	<li class="media">
			<img src="/images/sample-64x64.png">
		<div class="media-body">
			<h4 class="media-heading"></h4>
			<%=  game_record_comment.content %>
		</div>
	</li>
	<%  end %>
</ul>
</div>
<div>
<%=  render "game_record_comments/comment_form", game_record: @game_record %>
</div>
</div>
</div>